@model Work.Models.Event

@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="user-create">
    <span>Удаление мероприятия</span>
    <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateStart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateFinish)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateFinish)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CountUsers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CountUsers)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit">Удалить</button> |
                @Html.ActionLink("Вернуться к списку", "Index")
            </div>
        }
</div>