<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/fonts/aqua/aquarion.css">
    <link rel="stylesheet" href='~/fonts/firasans/firasansheavy.css'>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class='header'>
        <div class='header-top-container'>
            <div class='header-top'>
                <div class='header-top-contact'>
                    <span>Телефон: 8(999)999-99-99</span><br>
                    <span>E-mail: boxname@mail.com</span>
                </div>
                <div class='header-top-search'>
                    <input name="header-search" size="30" type="text">
                </div>
            </div>
        </div>
        <div class='header-bottom'>
            <div class='header-bottom-logo' onclick="location.href='/'">
                <div class='header-bottom-logo-img'></div>
                <div class='header-bottom-logo-name'>SPORTTOURISM.RU</div>
            </div>
            <div class='header-bottom-navigation'>
                <div class='header-bottom-navigation-enter'>
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <div class="enter">
                            <a href="javascript:document.getElementById('logoutForm').submit()"><span>@User.Identity.Name.ToString()</span>Выйти,</a>
                        </div>
                    }
                    else
                    {
                        <div class='header-bottom-navigation-enter-img'></div>
                        <div class="enter">@Html.ActionLink("Регистрация", "Create", "Users")</div>
                        <span>или</span>
                        <div class="enter">@Html.ActionLink("Вход", "Login", "Account")</div>
                    }
                </div>
                <div class='header-bottom-navigation-button'>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class='button'>
                            @Html.ActionLink("Профиль", "EditProfile", "Users")
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class='button'>
                            @Html.ActionLink("Пользователи", "Index", "Users")
                        </div>
                    }
                    <div class='button'>
                        @Html.ActionLink("Мероприятия", "Index", "Events")
                    </div>
                    <div class='button'>
                        @Html.ActionLink("Главная", "Index", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        @RenderBody()
        @RenderSection("News", false)
    </div>

    <div class='footer'>
        <div class='footer-info'>
            <span>Welcome!</span><br>
            <span>Site created 12.2016</span><br>
            <span>Goodbye!</span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtusive-ajax.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
