@model Work.Models.User

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="user-create">
    <span>Удаление пользователя</span>
    <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name) : <span>@Html.DisplayFor(model => model.Name)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Surname) : <span>@Html.DisplayFor(model => model.Surname)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Gender) : <span>@Html.DisplayFor(model => model.Gender)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Birthday) : <span>@Html.DisplayFor(model => model.Birthday)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Telephone) : <span>@Html.DisplayFor(model => model.Telephone)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Email) : <span>@Html.DisplayFor(model => model.Email)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.AboutMe) : <span>@Html.DisplayFor(model => model.AboutMe)</span>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.IsSportsman) : <span>@Html.DisplayFor(model => model.IsSportsman)</span>
            </dt>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <button type="submit">Удалить</button> |
                @Html.ActionLink("Назад к списку", "Index")
            </div>
        }
</div>
